### Import Libery for develop
this section allow load everything dependence for develop the
automate scrip and change all template AB/RE and Quotas. for this one
it's need to get files with templates before to start. for every file
it contein with 2 sheets.
- NovoSeven
- NovoEight

In [83]:
import pandas as pd
import numpy as np

# N8 AB

In [84]:
AB = pd.read_csv(r'C:\Users\mateo\Documents\NovoAuto\NovoAuto\Input\N8AB.csv')
AB.columns = AB.columns.map(lambda x: '')
customers_name = AB.iloc[:,2]

### Extraction Customers

In [98]:
customs = []
rangos = []
for i in range(126,157):
    rangos.append(i)
    customs.append(customers_name[i])
customs = [x for x in customs if customs.count(x) == 1] 
customers = {custom: rango for custom, rango in zip(customs, rangos)}

In [115]:
customers

{'ORGANIZACION VIHONCO IPS SOCIEDAD': 126,
 'FUNDACION SOCIAL PARA PROMOCION DE LA VIDA': 127,
 'AUDIFARMA S.A.': 128,
 'DROGUERIAS CRUZ VERDE S A S': 129,
 'CENTRO MEDICO IMBANACO DE CALI S.A.': 130,
 'INTEGRAL SOLUTIONS SD S.A.S.': 131,
 'ALIANZA FARMACEUTICA': 132,
 'OCGN': 133,
 'JERSALUD': 134,
 'COHAN': 135,
 'TODO DROGAS': 136,
 'SOCIEDAD INVERSIONES FARMEDICALL': 137,
 'CENTRO HEMATOLOGICO DE CUCUTA': 138,
 'HEMATOLOGIA Y ONCOLOGIA DEL ORIENTE ': 139,
 'IPS LLANO': 140,
 'OASIS / RAMEDICAS': 141,
 'SOLINSA G.C. S.A.S. (DISFARMA)': 142,
 'GRUPO R&G S.A.S. / HOSP HUV': 143,
 'DDS PHARMA': 144,
 'EVE DISTRIBUCIONES S.A.S.': 145,
 'CAFAM': 146,
 'DEPOSITO DE DROGAS MONACO S.A.': 147,
 'COLQUIMICOS S A': 148,
 'CLINICA LA AURORA': 149,
 'LA ESTANCIA': 150,
 'MEDEX': 151,
 'GRUPO AFIN FARMACEUTICA S.A.S.': 152}

### Dates

In [99]:
date_spec = []
for a in range(2022,2027):
    for m in range(1,13):
        if m < 10:
            date = '01' + '/' + '0' + str(m) + '/' + str(a)
            date_spec.append(date)
        else:
            date = '01' + '/' +  str(m) + '/' + str(a)
            date_spec.append(date)

### Generate of tables

In [100]:
combinaciones = [(cliente, dates) for cliente in customs for dates in date_spec]
ab_output = pd.DataFrame(combinaciones, columns=['customer_name','date_spec'])

### Target Date

In [101]:
years = {
  '22' : slice(16,28),
  '23' : slice(29,41),
  '24' : slice(42,54),
  '25' : slice(56,68),
  '26' : slice(92,104)
  }

### Add Volume

In [148]:
volumenes = {}
datas = []
for custom in customers:
    datayear = []
    for year in years:
        datayear.append(AB.iloc[customers[custom],years[year]])
    volumenes[custom] = datayear
    report = pd.concat(volumenes[custom],ignore_index=True)
    data = ab_output.loc[ab_output['customer_name'] == custom].reset_index(drop=True)
    for row_indexer, value in enumerate(report):
        data.loc[row_indexer, 'volume'] = value
    datas.append(data)
datas = pd.concat(datas,ignore_index=True)
datas['use_type'] = 'null'
datas['brand_name'] = 'N8'
datas['uom_code'] = 'UI'
datas['version_type'] = 'AB'
datas = datas[['customer_name', 'date_spec', 'use_type','volume','brand_name','uom_code','version_type']]

C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 2,359,440 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 33,360 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 366,120 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 264,420 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 406,800 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 203,400 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 129,159 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 50,850 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 27,340 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' 40,680 ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value
C:\Users\mateo\AppData\Local\Temp\ipykernel_22284\1665248753.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' - ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[row_indexer, 'volume'] = value

In [149]:
datas

,customer_name,date_spec,use_type,volume,brand_name,uom_code,version_type
0,ORGANIZACION VIHONCO IPS SOCIEDAD,01/01/2022,null,"2,359,440",N8,UI,AB
1,ORGANIZACION VIHONCO IPS SOCIEDAD,01/02/2022,null,"2,339,100",N8,UI,AB
2,ORGANIZACION VIHONCO IPS SOCIEDAD,01/03/2022,null,"2,339,100",N8,UI,AB
3,ORGANIZACION VIHONCO IPS SOCIEDAD,01/04/2022,null,"2,318,760",N8,UI,AB
4,ORGANIZACION VIHONCO IPS SOCIEDAD,01/05/2022,null,"2,318,760",N8,UI,AB
...,...,...,...,...,...,...,...
1615,GRUPO AFIN FARMACEUTICA S.A.S.,01/08/2026,null,NaN,N8,UI,AB
1616,GRUPO AFIN FARMACEUTICA S.A.S.,01/09/2026,null,NaN,N8,UI,AB
1617,GRUPO AFIN FARMACEUTICA S.A.S.,01/10/2026,null,NaN,N8,UI,AB
1618,GRUPO AFIN FARMACEUTICA S.A.S.,01/11/2026,null,NaN,N8,UI,AB
1619,GRUPO AFIN FARMACEUTICA S.A.S.,01/12/2026,null,NaN,N8,UI,AB